<div class="reviews-container-left"><br><br>
  
  <% if flash[:error] %>
    <div style="color: red;">
      <%= flash[:error] %>
    </div>
  <% end %>
  
  <%= form_with model: @movie do |form| %>
    <div>
      <%= form.label :name,style: "color: white;" %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :rating ,style: "color: white;"%><br>
      <%= form.text_field :rating %>
    </div>

    <div>
      <%= form.label :description,style: "color: white;" %><br>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :released_date,style: "color: white;" %><br>
      <%= form.date_field :released_date%>
    </div>

    <div class="field">
      <%= form.label :category_id,style: "color: white;" %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div><br>

    <div>
      <span style="color: white"><%= form.label :star_cast ,style: "color: white;"%><br>
      <%= form.text_field :star_cast %></span>
    </div>
    
    <div>
      <%= form.label :main_image,style: "color: white;" %>
      <%= form.file_field :main_image %>
    <div><br>

    <div>
      <%= form.submit %>
    </div>
  <% end %> 
</div>
