<%= form_with model: @movie do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :rating %><br>
      <%= form.text_field :rating %>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :released_date %><br>
      <%= form.date_field :released_date%>
    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div><br>

    <div>
      <span style="color: white"><%= form.label :star_cast %><br>
      <%= form.text_field :star_cast %></span>
    </div>


    <div>
      <%= form.label :main_image %>
      <%= form.file_field :main_image %>
    <div><br>

    <div>
    <%= form.submit %>
    </div>
<% end %>