<h2> Movie Details are.....</h2>
<label for="">Movie name  : <%= @movie.name%> </label><br>
<label for="">Rating      : <%= @movie.rating %> </label><br>
<label for="">Description : <%= @movie.description %> </label><br>
<label for="">Release Date: <%= @movie.release_date %> </label><br>

<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
  <%= link_to 'Edit', edit_movie_path%>
  <% end %>
<% end %>
<%= link_to 'Show Reviews', movie_reviews_path(@movie.id), class: "btn btn-primary btn-sm"%>

<%= link_to ' Write Reviews', new_movie_review_path(@movie.id), class: "btn btn-dark btn-sm"%>
